__pycache__
.env
.venv
.mypy_cache/
.ruff_cache/

# Generated artifacts
debug/
output/
comparison_results.json

# YOLO artifacts
runs/
*.pt
!src/gost_ocr/models/yolo/best.pt

# Python
*.pyc
*.egg-info/

# Add train files. They are literally just randomly generated images. See src/augment/
src/datasets/train/
ground_truth/